.ArrowLeft-BackMixPage{
    position: absolute;
    display: flex;
    justify-content: left;
    margin-left: 3%;
    margin-top: 2%;
    z-index: 1;
}
.button-arrowmixpage{
    background: none;
    border: none;
    cursor: pointer;
}
.material-symbols-outlined{
    font-size: 40px;
}