@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

.FrameOrderSummary{
    overflow: hidden;
    width: 30vw;
    height: 104vh;
    border-radius: 20px;
    border: 3px solid #D9D9D9;
}
.NameOrderSummary{
    list-style-type: none;
    font-family: 'Itim', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: -60%;
    margin-top: 8%;
    color: black;
}
.NameOrderSummary li{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 19%;
}
.LineUnderNameOrder{
    width: 25vw;
    height: 1px;
    background: rgba(0, 0, 0, 0.20);
    margin-left: 9%;
    margin-top: 20%;
}
.ListTeaChoose{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 2%;
    margin-top: 1%;
}
.ButtonChooseGetDrink{
    margin-top: 60%;
    margin-left: 15%;
}
.SumOfMoney{
    display: flex;
    position: absolute;
    z-index: 1;
    margin-left: 5%;
    margin-top: 1.5%;
}

