.calendar-icon {
    height: 50px;
    position: relative;
    width: 50px;
  }
  
  .calendar-icon .img-2 {
    object-fit: cover;
    position: absolute;
  }
  
  .calendar-icon .state-6-default {
    height: 58px;
    left: -4px;
    top: -1px;
    width: 58px;
  }
  
  .calendar-icon .state-6-hover {
    height: 60px;
    left: -5px;
    top: -5px;
    width: 60px;
  }