.ButtonEdit,.ButtonPlus{
    background: #EDCFCF;
    border: #EDCFCF;
    font-family: 'Itim', cursive;
    font-weight: 400;
    color: black;
    line-height: 30px;
    margin: 0 15px;
}
.ButtonEdit{
    width: 4vw;
    height: 5.5vh;
    border-radius: 10px;
    font-size: 20px;
}
.ButtonPlus{
    width: 2.5vw;
    height: 5vh;
    border-radius: 90px;
    font-size: 30px;
    cursor: pointer;
}
.AddEditDeleteMenu {
    margin-top: 10%;
    margin-left: -77%;
    height: 100vh;
  }
  
