.StaffListShowMenu h2{
    margin-top: 60%;
    margin-left: 10%;
    margin-bottom: 5%;
    color: black;
    font-family: 'Itim', cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

