.header-nav-profile {
    background-color: #9a3b3b;
    height: 97px;
    position: relative;
    width: 1440px;
  }
  
  .header-nav-profile .png {
    height: 73px;
    left: 21px;
    object-fit: cover;
    position: absolute;
    top: 12px;
    width: 301px;
  }
  
  .header-nav-profile .nav-center {
    height: 55px;
    left: 480px;
    position: absolute;
    top: 21px;
    width: 480px;
  }
  
  .header-nav-profile .nav-center-2 {
    align-items: flex-start;
    display: inline-flex;
    gap: 20px;
    position: relative;
  }
  
  .header-nav-profile .button-profile-default {
    left: 1340px !important;
    position: absolute !important;
    top: 24px !important;
  }
  