.component {
    height: 68px;
    position: relative;
    width: 131px;
  }
  
  .component .text-wrapper-6 {
    color: #000000;
    font-family: "AstroThin-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 43px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: right;
    top: -1px;
    width: 88px;
  }
  
  .component .shiawase-s {
    color: #000000;
    font-family: "AstroThin-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 42px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: right;
    top: 37px;
    white-space: nowrap;
  }
  