.property-default-wrapper {
    background-image: url(https://cdn.animaapp.com/projects/654afb985b4f8eee5d8e3290/releases/656ae2836922aedfb93f6fe5/img/rectangle-11@2x.png);
    background-position: 50% 50%;
    background-size: cover;
    height: 23px;
    width: 20px;
  }
  