.StaffHome{
    position: absolute;
    z-index: -1;
}
/* Hide the scrollbar for all browsers */
/* Note: This may not work on older versions of some browsers */
body {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  /* Hide scrollbar for WebKit-based browsers */
  body::-webkit-scrollbar {
    display: none;
  }
  